@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');

// $primary: #183341;
$secondary: #0c1f32;
// $tertiary: #31b3d7;
$textColor: #caced6;
$headerColor: #cba320;
$black: #000;
$white: #fff;
$headerFont: 'Poppins', sans-serif;
$textFont: 'PT Sans', sans-serif;
$transition: .3s linear;
$boxShadow: 22px 22px 40px 0px rgba(0,0,0,0.7) inset;
$textShadow: 0 0 3px $headerColor;